beautifulsoup4
certifi
charset-normalizer
feedparser
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
PyYAML
regex
requests
safetensors
sgmllib3k
smmap
soupsieve
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
